WebContent/wsdl/ConvocatoriaWSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.formacion.ipartek.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.formacion.ipartek.com" xmlns:intf="http://webservice.formacion.ipartek.com" xmlns:tns1="http://bean.formacion.ipartek.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.formacion.ipartek.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.formacion.ipartek.com"/>
   <element name="getById">
    <complexType>
     <sequence>
      <element name="codigo" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getByIdResponse">
    <complexType>
     <sequence>
      <element name="getByIdReturn" type="tns1:Convocatoria"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello">
    <complexType/>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.formacion.ipartek.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Convocatoria">
    <sequence>
     <element name="codigo" type="xsd:int"/>
     <element name="codigoCurso" type="xsd:int"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getByIdRequest">

      <wsdl:part element="impl:getById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getByIdResponse">

      <wsdl:part element="impl:getByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ConvocatoriaWSImpl">

      <wsdl:operation name="getById">

         <wsdl:input message="impl:getByIdRequest" name="getByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getByIdResponse" name="getByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ConvocatoriaWSImplSoapBinding" type="impl:ConvocatoriaWSImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ConvocatoriaWSImplService">

      <wsdl:port binding="impl:ConvocatoriaWSImplSoapBinding" name="ConvocatoriaWSImpl">

         <wsdlsoap:address location="http://localhost:8080/JavaWeb/services/ConvocatoriaWSImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
